<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/messages">Messages</a>
        <a class="nav-item nav-link" routerLink="/form/template">Template</a>
        <a class="nav-item nav-link" routerLink="/form/reactive">Reactive</a>
        <a class="nav-item nav-link" routerLink="/decoration">Decoration</a>
        <a class="nav-item nav-link" routerLink="/widgets">Widgets</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>